.DressCode-section{
    background: rgba(100, 36, 36, 0.1);
}
.DressCode-img {
    cursor: pointer;
    margin-bottom: 30px;
    overflow: hidden;
}
.thumbnail{
    transform: scale(1);
    overflow: hidden;
    transition: all .3s;
}
.DressCode-img:hover .thumbnail{
    transform: scale(1.1);
}

.image-box img{
    object-fit: cover;
}