.header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}
.header ul li {
    position: relative;
}
.header {
    background: #9b3f1b;
    border-bottom: 1px solid rgba(255,255,255,.1);
    position: absolute;
    width: 100%;
    z-index: 99;
}
.header ul li a{
    display: block;
    padding: 35px 25px;
    color:#babd2d;
    text-decoration: none;
}
.header ul li a:hover{
    color:#babd2d;
}
.logo{
    margin-top: 10px;
}

.logo h2 a{
    color: #babd2d;
}
.header-menu ul li{
    position: relative;
    padding-top: 10px;
}

.header-menu .submenu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 185px;
    padding: 0;
    background: #babd2d;
    text-align: left;
    box-shadow: 0px 2px 5px #9b3f1b;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.header-menu .submenu li {
    padding: 10px;
    cursor: pointer;
}

.header-menu .submenu li:hover {
    background-color: #9b3f1b;
    color: #fff;
}

.header-menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
}

@media(max-width:991px){
    .logo {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}